<header>
  <div class="nav" [class.open]="navOpen">
    <div class="menu" (click)="toggleNav()"></div>
    <ul *ngIf="navOpen"> 
      <li class="lista ativar" style="--clr:#f44336;">
         <a href="#">
           <span class="icone"><ion-icon name="home-outline"></ion-icon></span>
           <span class="texto">Home</span>
          </a>
      </li>
      <li class="lista" style="--clr:#ffa117;">
        <a href="#">
          <span class="icone"><ion-icon name="person-outline"></ion-icon></span>
          <span class="texto">Sobre</span>
         </a>
     </li>
     <li class="lista" style="--clr:#0fc70f;">
      <a href="#">
        <span class="icone"><ion-icon name="log-in-outline"></ion-icon></span>
        <span class="texto">Login</span>
       </a>
   </li>
    <li class="lista" style="--clr:#2196f3;">
      <a href="#">
        <span class="icone"><ion-icon name="person-add-outline"></ion-icon></span>
        <span class="texto">Cadastrar</span>
      </a>
    </li>
    <li class="lista" style="--clr:#b145e9;">
      <a href="#">
        <span class="icone"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="texto">Configurações</span>
      </a>
    </li>
    </ul>
  </div>
</header>
