<app-header></app-header>
<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>Moriarty AI</ion-title>
        </ion-toolbar>
    </ion-header>
  
    <ion-content class="content">
        <div class="cabecalho">
            <h2 class="titulo">Seja, Bem-vindo</h2>
            <h4 class="subtitulo">Como posso te ajudar?</h4>
            <br>
            <!-- Lista de Sugestões -->
            <div class="card-container">
                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-title>Planeje um dia pra cuidar da mente</ion-card-title>
                    </ion-card-header>
                </ion-card>

                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-title>Como melhorar o dia</ion-card-title>
                    </ion-card-header>
                </ion-card>

                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-title>Crie uma receita</ion-card-title>
                    </ion-card-header>
                </ion-card>

                <ion-card color="dark">
                    <ion-card-header>
                        <ion-card-title>Escreva um script em Python</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </div>
        </div>

        <div #listaChat class="lista_chat"></div>
  
        <form #formulario class="formulario" (submit)="enviarMensagem($event)">
            <input type="text" class="input_escrever" placeholder="Digite sua mensagem..." />
            <button type="submit">Enviar</button>
        </form>

        <footer class="footer">
            <p>copyright &copy; 2024 Moriarty.</p>
        </footer>
    </ion-content>
</ion-app>
