@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Cores para o Dark Mode */
    --cor-texto: #e3e3e3;
    --subtitulo-cor: #828282;
    --placeholder-cor: #a6a6a6;
    --cor-primaria: #242424;
    --cor-secundaria: #383838;
    --cor-secundaria-hover: #444;
}

.content {
    display: flex;
    flex-direction: column; 
    height: 100vh; /* Ocupa toda a altura da viewport */
    background: var(--cor-primaria);
    padding: 1rem;
}

.cabecalho {
    text-align: center;
    color: black;

    .titulo {
        font-size: 2.7rem;
        font-weight: 600;
        background: linear-gradient(to right, #4285f4, #d96570);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    .subtitulo {
        font-size: 2.4rem;
        color: var(--subtitulo-cor);
    }
}

.card-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 1rem; /* Espaçamento entre os cards */
    margin: 2rem 0; /* Margem superior e inferior */
}

.lista_chat {
    flex-grow: 1; // Permite que a lista de chat cresça
    padding: 1rem;
    overflow-y: auto;
}

.formulario {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative; // Permite que o formulário se ajuste corretamente

    .input_escrever {
        flex: 1; // Permite que o campo de entrada ocupe o máximo de espaço
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;  
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;  
        }
    }
}

.footer {
    text-align: center;
    padding: 1rem;
    background: var(--cor-secundaria);
    color: white; 
}
